* {
    //outline: 1px solid green;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    //colors
    --primaryDark: #0A1827;
    --primaryDark50: #0A182788;
    --primaryDark35: #0A182759;
    --primaryDark12: #0A18271f;
    --primaryLight: #FFF8F2;
    --primaryLight65: #FFF8F299;
    --primaryLight30: #FFF8F24d;
    --primaryLight12: #FFF8F21f;
    --accentBlue: #2058E8;
    --accentHover: #1645BB;
    --alertRed: #FF5151;
    --darkOverlay: #00000033;
    //spacings
    --sideMargin: 50px;
    --sectionSpacingS: clamp(100px, 14.28vh, 125px);
    --sectionSpacingL: clamp(185px, 24.25vh, 210px);
    //transitions
    --easeExpoInOut: transform 1s cubic-bezier(.8, 0, .2, 1);
}

//size adjustments
@media screen and (min-width: 1600px) {
    //xlarge
    :root {
        --sideMargin: 75px
    }
}

@media screen and (min-width: 640px) and (max-width: 1100px) {
    //tablet
    :root {
        --sideMargin: 36px;
    }
}

@media screen and (max-width: 640px) {
    //mobile
    :root {
        --sideMargin: 24px;
    }
}

@media screen and (max-width: 850px) {
    :root {
        --sectionSpacingS: 8vh;
        --sectionSpacingL: 20vh;
    }
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    overflow-x: hidden;
    z-index: 0;
    overscroll-behavior: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    visibility: hidden;
    cursor: default;
}

.fixed-position {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: Axiforma;
    src: url(/Fonts/Axiforma-Regular.woff2);
}

//font sizings
h1 {
    font-size: calc(65px + (140 - 65)*(100vw - 320px)/(1600 - 320));
    line-height: 1.2;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    font-size: calc(33px + (55 - 33)*(100vw - 320px)/(1600 - 320));
    line-height: 1.2;
    font-family: Axiforma;
    font-weight: 400;
}

h3 {
    font-size: calc(25px + (55 - 25)*(100vw - 320px)/(1600 - 320));
    line-height: 1.2;
    font-family: Axiforma;
    font-weight: 400;
}

h4, label {
    font-size: calc(20px + (30 - 20)*(100vw - 320px)/(1600 - 320));
}

h5, input::placeholder, input, textarea {
    font-size: calc(16px + (23 - 16)*(100vw - 320px)/(1600 - 320));
    font-family: Axiforma;
    font-weight: 400;
}

h6, textPath {
    font-size: calc(15px + (20 - 15)*(100vw - 320px)/(1600 - 320));
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.small-icon {
    width: calc(19px + (24 - 19)*(100vw - 320px)/(1600 - 320));
    z-index: 2;
}

.large-icon {
    width: calc(27px + (47 - 27)*(100vw - 320px)/(1600 - 320));
}

//font adjustments
.axiforma {
    font-family: Axiforma;
}

.fjalla {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.courier {
    font-family: 'Courier Prime', monospace;
    //letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    color: var(--primaryLight);
    font-weight: normal;
}

//style guide

body {
    background-color: var(--primaryDark);
}

.contact {
    background-color: var(--primaryDark);
}

.expand-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.chip {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 10px 20px;
    gap: calc(var(--sideMargin) / 6);
    background-color: var(--primaryLight30);
    border-radius: 100px;
    align-items: center;
    width: fit-content;

        h6 {
            white-space: nowrap;
            z-index: 2;
            pointer-events: none;
            line-height: 0.9;
        }
}

.chip-wipe {
    position: absolute;
    background-color: var(--accentBlue);
    transform: skewX(-30deg);
    height: 100%;
    width: 108%;
    left: 0;
    top: 0;
    z-index: 1;
}

.big-text {
    font-size: calc((300 * (100vw - 2 * var(--sideMargin))) / (1100));
    line-height: 1;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    display: block;
}

@media screen and (max-width: 650px) {
    .big-text {
        font-size: calc((300 * (100vw - 2 * var(--sideMargin))) / (550));
        white-space: normal;
        text-align: left
    }
}


/*smooth scroll css*/
/*
.viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
.body-wrapper {
    position: absolute;  
    overflow: hidden;
    width: 100%; 
}
*/