.footer {
   margin: 0 var(--sideMargin);
   transform: translateY(22%);
   padding-top: var(--sectionSpacingS);

    .footer-line {
        width: 100%;
        height: 2px;
        background-color: var(--primaryLight65);
        margin-bottom: 20px;
    }

    .footer-container {
        position: relative;
        z-index: 2;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
    }

    .links-container {
        display: flex;
    }

    .links > a {
        color: inherit;
    }

    .slash {
        padding: 0 7px;
    }

    .letter {
        position: relative;
        color: var(--primaryLight30);
        opacity: 0.5;
        display: inline-block;
        transition: color 0.3s;
    }

    .big-text {
        position: relative;
        z-index: 1
    }

    @media screen and (max-width: 650px) {
        .footer-container {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            margin: 0;
        }

        .note {
            text-align: center;
            grid-row: 1;
            grid-column: 1 / 3;
            letter-spacing: -1px;

            span {
                display: none;
            }
        }

        .links-container {
            justify-content: flex-end;
        }
    }
}


