.good-design {
    text-align: center;
    overflow: hidden;
    padding-top: var(--sideMargin);
    padding-bottom: var(--sectionSpacingS);

    .image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .image-one, .image-two {
        width: 100%;
        perspective: 100px;
        position: relative;
    }

    .image-two {
        z-index: 3;
    }

    .image-one {
        z-index: 1;
    }

    .text-container {
        position: relative;
        z-index: 2;
        opacity: 0;
    }

    @media screen and (max-width: 650px) {
        .image-container {
            grid-template-columns: 1fr;
        }

        .good-design-text {
            font-size: calc((120 * (100vw - 2 * var(--sideMargin))) / (296 * 1.2 * 2));
        }

        .break {
            display: none;
        }
    }
}