.intro-text {
    padding: var(--sectionSpacingL) 0;
    margin-left: calc(2 * var(--sideMargin));
    margin-right: var(--sideMargin);
    display: flex;
    align-items: center;

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--sideMargin);
    }


    .overflow-container {
        overflow: hidden;

        h5 {
            display: block;
        }
    }

    .chips {
        display: flex;
        flex-wrap: wrap;
        gap: calc(var(--sideMargin) / 4);
        margin-top: calc(var(--sideMargin) / 2)
    }

    .dot {
        width: 6px;
        height: 6px;
        border-radius: 10px;
        margin-bottom: 2px;
        background-color: var(--primaryLight);
        z-index: 2;
        flex-shrink: 0;
    }

    @media screen and (max-width: 650px) {
        margin-left: var(--sideMargin);
        height: 80vh;
        
        .grid-container {
            grid-template-columns: 1fr;
            gap: var(--sideMargin);
        }

        .chips {
            margin-top: var(--sideMargin)
        }

        .chip {
            margin-bottom: 10px;
        }
    }

}
