
.nav{
    margin: 0 var(--sideMargin);
    position: fixed;
    top: var(--sideMargin);
    left: 0;
    right: 0;
    z-index: 10;

    .nav-container {
        width: fit-content;
        max-width: 0px;
        background-color: var(--primaryLight30);
        border-radius: 1000px;
        padding: 18px 30px;
        display: flex;
        gap: 15px; //change in js too
        backdrop-filter: blur(20px);
        flex-shrink: 0;
    }

    .logo-text {
        white-space: nowrap;
    }

    .link-container {
        display: flex;
        align-items: center;
        gap: 7px;
        overflow: hidden;
        flex-shrink: 0;
    }

    .circle {
        width: 6px;
        height: 6px;
        background-color: var(--primaryLight);
        border-radius: 100px;
        margin-bottom: 2px;
    }

    .unselected {
        color: var(--primaryLight65);
        transition: color 0.5s;
        &:hover {
            color: var(--primaryLight);
        }
    }

    @media screen and (max-width: 650px) {  
        .nav-container {
            justify-content: space-between;
            width: 100%;
            padding: 14px 18px;
            gap: 8px;
        }
        
        .link-container {
            gap: 4px;
        }
    }
}


