.loading-screen {
    background-color: var(--primaryLight);
    width: 115vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -122vw;
    z-index: 10;

    .page-name {
        overflow: hidden;
    }

    .page-name-container {
        display: flex;
        gap: calc(var(--sideMargin) / 4);
        align-items: center;
        transform: translateY(110%);
    }

    .dot {
        width: 8px;
        height: 8px;
        border-radius: 10px;
        margin-bottom: 3px;
        background-color: var(--primaryDark);
    }

    .variable-name {
        color: var(--primaryDark);
    }
}


@media screen and (max-width: 1000px){

    .loading-screen {
        width: 150vw;
        left: -160vw;
    }
}
