* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryDark: #0A1827;
  --primaryDark50: #0A182788;
  --primaryDark35: #0A182759;
  --primaryDark12: #0A18271f;
  --primaryLight: #FFF8F2;
  --primaryLight65: #FFF8F299;
  --primaryLight30: #FFF8F24d;
  --primaryLight12: #FFF8F21f;
  --accentBlue: #2058E8;
  --accentHover: #1645BB;
  --alertRed: #FF5151;
  --darkOverlay: #00000033;
  --sideMargin: 50px;
  --sectionSpacingS: clamp(100px, 14.28vh, 125px);
  --sectionSpacingL: clamp(185px, 24.25vh, 210px);
  --easeExpoInOut: transform 1s cubic-bezier(.8, 0, .2, 1);
}

@media screen and (min-width: 1600px) {
  :root {
    --sideMargin: 75px ;
  }
}
@media screen and (min-width: 640px) and (max-width: 1100px) {
  :root {
    --sideMargin: 36px;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --sideMargin: 24px;
  }
}
@media screen and (max-width: 850px) {
  :root {
    --sectionSpacingS: 8vh;
    --sectionSpacingL: 20vh;
  }
}
html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
  z-index: 0;
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  visibility: hidden;
  cursor: default;
}

.fixed-position {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: Axiforma;
  src: url(/Fonts/Axiforma-Regular.woff2);
}
h1 {
  font-size: calc(65px + 75 * (100vw - 320px) / 1280);
  line-height: 1.2;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-size: calc(33px + 22 * (100vw - 320px) / 1280);
  line-height: 1.2;
  font-family: Axiforma;
  font-weight: 400;
}

h3 {
  font-size: calc(25px + 30 * (100vw - 320px) / 1280);
  line-height: 1.2;
  font-family: Axiforma;
  font-weight: 400;
}

h4, label {
  font-size: calc(20px + 10 * (100vw - 320px) / 1280);
}

input::-moz-placeholder {
  font-size: calc(16px + 7 * (100vw - 320px) / 1280);
  font-family: Axiforma;
  font-weight: 400;
}

h5, input::placeholder, input, textarea {
  font-size: calc(16px + 7 * (100vw - 320px) / 1280);
  font-family: Axiforma;
  font-weight: 400;
}

h6, textPath {
  font-size: calc(15px + 5 * (100vw - 320px) / 1280);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.small-icon {
  width: calc(19px + 5 * (100vw - 320px) / 1280);
  z-index: 2;
}

.large-icon {
  width: calc(27px + 20 * (100vw - 320px) / 1280);
}

.axiforma {
  font-family: Axiforma;
}

.fjalla {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.courier {
  font-family: "Courier Prime", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: var(--primaryLight);
  font-weight: normal;
}

body {
  background-color: var(--primaryDark);
}

.contact {
  background-color: var(--primaryDark);
}

.expand-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.chip {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 10px 20px;
  gap: calc(var(--sideMargin) / 6);
  background-color: var(--primaryLight30);
  border-radius: 100px;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.chip h6 {
  white-space: nowrap;
  z-index: 2;
  pointer-events: none;
  line-height: 0.9;
}

.chip-wipe {
  position: absolute;
  background-color: var(--accentBlue);
  transform: skewX(-30deg);
  height: 100%;
  width: 108%;
  left: 0;
  top: 0;
  z-index: 1;
}

.big-text {
  font-size: calc(300 * (100vw - 2 * var(--sideMargin)) / 1100);
  line-height: 1;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  display: block;
}

@media screen and (max-width: 650px) {
  .big-text {
    font-size: calc(300 * (100vw - 2 * var(--sideMargin)) / 550);
    white-space: normal;
    text-align: left;
  }
}
/*smooth scroll css*/
/*
.viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.body-wrapper {
    position: absolute;  
    overflow: hidden;
    width: 100%; 
}
*/
.hero {
  margin: 0 var(--sideMargin);
  padding-top: var(--sideMargin);
  position: relative;
}
.hero .image-container {
  position: relative;
  overflow: hidden;
  height: 70vh;
}
.hero .scroll-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primaryDark);
  opacity: 0;
  z-index: 2;
}
.hero .reveal {
  position: absolute;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--primaryLight);
  z-index: 2;
}
.hero .silhouette {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  left: 50%;
  transform: translateX(-50%);
  height: 120%;
  z-index: 1;
  opacity: 0;
}
.hero .background {
  width: 100%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  opacity: 0;
}
.hero .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15%;
  position: relative;
  z-index: 2;
}
.hero .subtext-container {
  width: calc(100% - 40px);
  margin: 0 20px;
  display: flex;
  justify-content: center;
}
.hero .transform-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.hero .left-text, .hero .right-text {
  white-space: nowrap;
}
.hero .bigtext-container {
  position: relative;
  overflow: hidden;
}
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: var(--darkOverlay);
}
.hero .letter {
  display: inline-block;
  background-position-x: 100%;
  background-image: linear-gradient(-70deg, var(--primaryLight) 50%, var(--primaryLight12) 50%);
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 650px) {
  .hero .image-container {
    height: 60vh;
  }
  .hero .text-container {
    margin-top: -30%;
  }
  .hero .subtext-container {
    justify-content: flex-start;
  }
  .hero .transform-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav {
  margin: 0 var(--sideMargin);
  position: fixed;
  top: var(--sideMargin);
  left: 0;
  right: 0;
  z-index: 10;
}
.nav .nav-container {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 0px;
  background-color: var(--primaryLight30);
  border-radius: 1000px;
  padding: 18px 30px;
  display: flex;
  gap: 15px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  flex-shrink: 0;
}
.nav .logo-text {
  white-space: nowrap;
}
.nav .link-container {
  display: flex;
  align-items: center;
  gap: 7px;
  overflow: hidden;
  flex-shrink: 0;
}
.nav .circle {
  width: 6px;
  height: 6px;
  background-color: var(--primaryLight);
  border-radius: 100px;
  margin-bottom: 2px;
}
.nav .unselected {
  color: var(--primaryLight65);
  transition: color 0.5s;
}
.nav .unselected:hover {
  color: var(--primaryLight);
}
@media screen and (max-width: 650px) {
  .nav .nav-container {
    justify-content: space-between;
    width: 100%;
    padding: 14px 18px;
    gap: 8px;
  }
  .nav .link-container {
    gap: 4px;
  }
}

.intro-text {
  padding: var(--sectionSpacingL) 0;
  margin-left: calc(2 * var(--sideMargin));
  margin-right: var(--sideMargin);
  display: flex;
  align-items: center;
}
.intro-text .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sideMargin);
}
.intro-text .overflow-container {
  overflow: hidden;
}
.intro-text .overflow-container h5 {
  display: block;
}
.intro-text .chips {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--sideMargin) / 4);
  margin-top: calc(var(--sideMargin) / 2);
}
.intro-text .dot {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  margin-bottom: 2px;
  background-color: var(--primaryLight);
  z-index: 2;
  flex-shrink: 0;
}
@media screen and (max-width: 650px) {
  .intro-text {
    margin-left: var(--sideMargin);
    height: 80vh;
  }
  .intro-text .grid-container {
    grid-template-columns: 1fr;
    gap: var(--sideMargin);
  }
  .intro-text .chips {
    margin-top: var(--sideMargin);
  }
  .intro-text .chip {
    margin-bottom: 10px;
  }
}

@media (hover: hover) {
  .picture-wrapper:hover {
    transform: translateY(-15%);
  }
  .picture-wrapper:hover + .sliding-text {
    transform: translateY(-52%);
  }
  .picture-wrapper:hover .display-image {
    transform: scale(1);
  }
}
.selected-works {
  margin: 0 var(--sideMargin);
  padding-top: var(--sectionSpacingS);
}
.selected-works .selected-text {
  font-size: calc(120 * (100vw - 2 * var(--sideMargin)) / 754.8);
  text-align: center;
  white-space: nowrap;
  color: var(--primaryLight12);
  margin-bottom: -6%;
}
.selected-works .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.selected-works .picture-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: transform 1s cubic-bezier(0.8, 0, 0.2, 1);
}
.selected-works .display-image {
  position: relative;
  width: 100%;
  z-index: 2;
  transform: scale(1.1);
  transition: transform 1s cubic-bezier(0.8, 0, 0.2, 1);
}
.selected-works .sliding-text {
  transform: translateY(-105%);
  transition: transform 1s cubic-bezier(0.8, 0, 0.2, 1);
}
.selected-works .squared, .selected-works .bubbl {
  white-space: nowrap;
}
@media screen and (min-width: 651px) {
  .selected-works .squared {
    font-size: calc(120 * (50vw - var(--sideMargin)) / 459.6);
  }
  .selected-works .bubbl {
    font-size: calc(120 * (50vw - var(--sideMargin)) / 459.6);
  }
}
.selected-works .subtext-one, .selected-works .subtext-two {
  display: grid;
  align-items: center;
  gap: calc(var(--sideMargin) / 2);
}
.selected-works .subtext-one {
  grid-template-columns: 2fr 1fr;
}
.selected-works .subtext-two {
  grid-template-columns: 1fr 2fr;
}
.selected-works .subtext-two > .description {
  text-align: right;
}
.selected-works .role,
.selected-works .year {
  color: var(--primaryLight65);
}
.selected-works .swipe-container {
  display: none;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
.selected-works .mobile-sliding-text {
  scroll-snap-align: start;
  padding: 0 var(--sideMargin);
  display: flex;
  flex-direction: column;
}
.selected-works .static-btn {
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--primaryLight);
}
.selected-works .static-btn a {
  display: flex;
  gap: 10px;
}
.selected-works .mobile-sliding-text:last-of-type {
  align-items: flex-end;
}
.selected-works .static-text {
  margin-top: 4px;
  color: black;
}
@media screen and (max-width: 650px) {
  .selected-works .selected-text {
    font-size: calc(120 * (100vw - 2 * var(--sideMargin)) / 403.8);
    margin: 0 var(--sideMargin);
    text-align: left;
    white-space: normal;
  }
  .selected-works .grid-container {
    grid-template-columns: 50vw 50vw;
  }
  .selected-works .picture-wrapper {
    overflow: visible;
  }
  .selected-works .col-one > .sliding-text {
    margin-left: var(--sideMargin);
  }
  .selected-works .col-two > .sliding-text {
    float: right;
    margin-right: var(--sideMargin);
  }
  .selected-works .sliding-text {
    display: none;
  }
  .selected-works .bubbl {
    text-align: right;
  }
  .selected-works .role {
    display: none;
  }
  .selected-works .swipe-container {
    display: grid;
    grid-template-columns: 100vw 100vw;
  }
  .selected-works .col-one .display-image {
    transform-origin: bottom left;
  }
  .selected-works .col-two .display-image {
    transform-origin: bottom right;
  }
  .selected-works .active {
    transform: scale(1.2);
  }
  .selected-works .subtext-one {
    grid-template-columns: 3fr 1fr;
  }
  .selected-works .subtext-one .year {
    text-align: right;
  }
  .selected-works .subtext-two {
    grid-template-columns: 1fr 3fr;
  }
  .selected-works .description {
    margin: 10px 0 var(--sideMargin) 0;
  }
}

.site-btn {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  border-radius: 1000px;
  padding: 14px 26px;
}

.live-site {
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 10;
}
.live-site .live-text {
  margin-top: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.squared-site {
  background-color: var(--primaryDark);
}
.squared-site .live-text {
  color: white;
}

.bubbl-site {
  background-color: var(--primaryLight);
}
.bubbl-site .live-text {
  color: black;
}

@media screen and (max-width: 650px) {
  .selected-works {
    margin: 0;
  }
  .live-site {
    display: none;
  }
}
.process {
  background-color: var(--primaryLight);
  padding: var(--sectionSpacingS) 0;
  overflow: hidden;
}
.process .position-container {
  padding: 0 var(--sideMargin);
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 70vh;
}
.process .step {
  margin-bottom: 30px;
}
.process .step .subtext {
  color: var(--primaryDark);
}
.process .step:last-child {
  margin-bottom: 0px;
}
.process .main-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.process .header {
  color: var(--primaryDark50);
  transition: color 0.5s cubic-bezier(0.8, 0, 0.2, 1);
}
.process .header-focus {
  color: var(--primaryDark);
}
.process .tiny-num {
  writing-mode: vertical-lr;
  color: var(--primaryDark50);
}
.process .drawer-line {
  width: 100;
  height: 3px;
  background-color: var(--primaryDark50);
}
.process .collapse-grid {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 1s cubic-bezier(0.8, 0, 0.2, 1);
}
.process .subtext {
  overflow: hidden;
  margin-top: 10px;
}
.process .message {
  width: 55%;
  margin: auto;
  transform: translateY(-60%);
  text-align: center;
}
.process .message-text {
  color: var(--primaryDark);
}
.process .slider {
  background-color: var(--accentBlue);
  transform: rotate(-3deg) translateX(-3%);
  gap: var(--sideMargin);
  display: flex;
  width: 110%;
}
.process .slider-sub {
  display: flex;
  align-items: center;
  gap: var(--sideMargin);
  padding: calc(var(--sideMargin) / 2) 0;
  animation: scroll 15s linear infinite;
  overflow: hidden;
  flex-shrink: 0;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100%;
}
.process .slider-text {
  line-height: 0.9;
  white-space: nowrap;
}
.process .dot {
  width: 20px;
  height: 24px;
  background-color: var(--primaryLight);
  border-radius: 20px/24px;
  flex-shrink: 0;
}
.process .tech-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--sideMargin) / 3);
  transform: rotate(-3deg);
  margin-top: 20px;
}
.process .stack-text {
  color: var(--primaryDark);
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--sideMargin)));
  }
}
@media screen and (max-width: 1100px) {
  .process .position-container {
    grid-template-columns: 1fr 1fr;
    height: 55vh;
  }
  .process .message {
    width: 80%;
  }
}
@media screen and (max-width: 650px) {
  .process .position-container {
    grid-template-columns: 1fr;
    grid-template-rows: 110px 1fr;
    margin: auto;
    gap: calc(3 * var(--sideMargin));
    height: 85vh;
  }
  .process .message {
    width: 100%;
    transform: translateY(0%);
    text-align: center;
    grid-row: 1;
    flex-shrink: 0;
  }
}

@media (hover: hover) {
  .step:hover .header {
    color: var(--primaryDark);
    cursor: pointer;
  }
}
.good-design {
  text-align: center;
  overflow: hidden;
  padding-top: var(--sideMargin);
  padding-bottom: var(--sectionSpacingS);
}
.good-design .image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.good-design .image-one, .good-design .image-two {
  width: 100%;
  perspective: 100px;
  position: relative;
}
.good-design .image-two {
  z-index: 3;
}
.good-design .image-one {
  z-index: 1;
}
.good-design .text-container {
  position: relative;
  z-index: 2;
  opacity: 0;
}
@media screen and (max-width: 650px) {
  .good-design .image-container {
    grid-template-columns: 1fr;
  }
  .good-design .good-design-text {
    font-size: calc(120 * (100vw - 2 * var(--sideMargin)) / 710.4);
  }
  .good-design .break {
    display: none;
  }
}

.cta {
  margin: 0 var(--sideMargin);
  display: flex;
  flex-direction: column;
}
.cta .cta-text-container {
  position: relative;
  text-align: center;
}
.cta .headshot {
  position: absolute;
  z-index: 2;
  height: calc((65px + 75 * (100vw - 320px) / 1280) * 1.5);
  bottom: 20%;
  left: 20%;
}
.cta .slash {
  display: none;
}
.cta .cta-btn {
  position: absolute;
  z-index: 2;
  background-color: var(--accentBlue);
  border-radius: 1000px;
  width: 15%;
  aspect-ratio: 1;
  right: 22%;
  top: 15%;
  overflow: hidden;
}
.cta .cta-relative {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.cta .cta-text {
  text-transform: lowercase;
  z-index: 2;
}
.cta .expand-icon {
  z-index: 2;
}
.cta .mega-text > span {
  display: inline-block;
  background-position-x: 100%;
  background-image: linear-gradient(-70deg, #222731 50%, var(--primaryLight) 50%);
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cta .create-hide {
  display: none !important;
}
.cta .high {
  position: relative;
  z-index: 3;
}
.cta .low {
  position: relative;
  z-index: 1;
}
.cta .mobile {
  display: none;
}
.cta .chips {
  margin: 20px auto 0 auto;
  display: flex;
  gap: calc(var(--sideMargin) / 2);
}
.cta .chip img, .cta .chip h6 {
  z-index: 2;
}
@media screen and (max-width: 650px) {
  .cta {
    padding-top: var(--sectionSpacingL);
  }
  .cta .mega-text {
    text-align: left;
  }
  .cta .create-hide {
    display: inline;
  }
  .cta .high span {
    display: none;
  }
  .cta .cta-text-container {
    text-align: left;
  }
  .cta .headshot {
    position: relative;
    display: inline-block;
    bottom: 0;
    left: 0;
  }
  .cta .slash {
    margin-top: 17px;
    display: inline-block;
    vertical-align: top;
  }
  .cta .cta-btn {
    position: relative;
    display: inline-block;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
  }
  .cta .cta-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .cta .expand-icon {
    display: none;
  }
  .cta .mobile {
    display: inline;
  }
  .cta .chips {
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
  }
  .cta .chip {
    width: -moz-fit-content;
    width: fit-content;
    padding: 6px 16px;
  }
}

.hover-background {
  position: absolute;
  background-color: var(--accentHover);
  height: 100%;
  width: 100%;
  transform: translate(80%, 80%) rotate(45deg);
  z-index: 1;
}

.footer {
  margin: 0 var(--sideMargin);
  transform: translateY(22%);
  padding-top: var(--sectionSpacingS);
}
.footer .footer-line {
  width: 100%;
  height: 2px;
  background-color: var(--primaryLight65);
  margin-bottom: 20px;
}
.footer .footer-container {
  position: relative;
  z-index: 2;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}
.footer .links-container {
  display: flex;
}
.footer .links > a {
  color: inherit;
}
.footer .slash {
  padding: 0 7px;
}
.footer .letter {
  position: relative;
  color: var(--primaryLight30);
  opacity: 0.5;
  display: inline-block;
  transition: color 0.3s;
}
.footer .big-text {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 650px) {
  .footer .footer-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  .footer .note {
    text-align: center;
    grid-row: 1;
    grid-column: 1/3;
    letter-spacing: -1px;
  }
  .footer .note span {
    display: none;
  }
  .footer .links-container {
    justify-content: flex-end;
  }
}

.contact-section {
  margin: 0 calc(var(--sideMargin) * 2);
  padding-top: 22vh;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: auto auto;
  -moz-column-gap: calc(var(--sideMargin) * 2);
       column-gap: calc(var(--sideMargin) * 2);
  row-gap: calc(var(--sideMargin) * 2);
}
.contact-section .subtext {
  align-self: center;
}
.contact-section form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  -moz-column-gap: var(--sideMargin);
       column-gap: var(--sideMargin);
  row-gap: calc(var(--sideMargin) / 2);
}
@media screen and (min-width: 851px) {
  .contact-section .input-container:last-of-type {
    grid-column: 1/3;
  }
  .contact-section .chips-container, .contact-section .form-submit {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
.contact-section textarea {
  width: 100%;
  height: 30vh;
  resize: none;
  color: var(--primaryLight);
  background-color: var(--primaryDark);
  border: none;
}
.contact-section textarea:focus {
  outline: none;
}
.contact-section .label-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.contact-section label {
  transition: color 1s;
}
.contact-section .form-num {
  height: -moz-fit-content;
  height: fit-content;
  color: var(--primaryLight65);
}
.contact-section .form-line {
  width: 100%;
  height: 2px;
  background-color: var(--primaryLight65);
  margin-bottom: 10px;
}
.contact-section input {
  width: 100%;
  background-color: var(--primaryDark);
  color: var(--primaryLight);
  border: none;
}
.contact-section input:focus {
  outline: none;
}
.contact-section .filled {
  color: var(--primaryLight65);
}
.contact-section button {
  border: none;
}
.contact-section input::-moz-placeholder, .contact-section textarea::-moz-placeholder {
  color: var(--primaryLight30);
  font-family: axiforma;
}
.contact-section input::placeholder,
.contact-section textarea::placeholder {
  color: var(--primaryLight30);
  font-family: axiforma;
}
.contact-section .chip {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}
.contact-section .form-submit {
  background-color: var(--accentBlue);
  margin-top: calc(var(--sideMargin) * 3);
  position: relative;
  align-self: end;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 1000px;
}
.contact-section .submit-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
}
.contact-section .talk-soon {
  text-align: center;
  z-index: 2;
}
.contact-section .circle-text {
  position: absolute;
  transform: scale(1.4);
  bottom: -14%;
  left: 3%;
}
.contact-section .expand-icon {
  width: 60%;
  z-index: 2;
}
.contact-section .error-message {
  display: flex;
  align-items: center;
  gap: calc(var(--sideMargin) / 4);
  margin-top: 3px;
}
.contact-section .error-text, .contact-section .error-icon {
  color: var(--alertRed);
  opacity: 0;
}
.contact-section .error .error-text, .contact-section .error .error-icon {
  opacity: 1;
}
@media screen and (max-width: 1100px) {
  .contact-section {
    -moz-column-gap: var(--sideMargin);
         column-gap: var(--sideMargin);
    row-gap: var(--sideMargin);
  }
}
@media screen and (max-width: 850px) {
  .contact-section {
    grid-template-columns: 1fr;
    padding-top: 15vh;
    margin: 0 var(--sideMargin);
  }
  .contact-section form {
    grid-template-columns: 1fr;
    gap: var(--sideMargin);
  }
  .contact-section .chips-container {
    grid-row: 3/4;
  }
  .contact-section textarea {
    height: 20vh;
  }
  .contact-section .form-submit {
    margin-top: 0;
    margin-right: var(--sideMargin);
    justify-self: end;
  }
}

.loading-screen {
  background-color: var(--primaryLight);
  width: 115vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -122vw;
  z-index: 10;
}
.loading-screen .page-name {
  overflow: hidden;
}
.loading-screen .page-name-container {
  display: flex;
  gap: calc(var(--sideMargin) / 4);
  align-items: center;
  transform: translateY(110%);
}
.loading-screen .dot {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  margin-bottom: 3px;
  background-color: var(--primaryDark);
}
.loading-screen .variable-name {
  color: var(--primaryDark);
}

@media screen and (max-width: 1000px) {
  .loading-screen {
    width: 150vw;
    left: -160vw;
  }
}/*# sourceMappingURL=style.css.map */